
<style>
    .btnAddProd:hover {
        opacity: 0.7;
    }
</style>


   
<div class="btnBefore" style="padding: 0 32px; ">
    <button class="btnAddProd " style="position: relative;;padding: 12px 16px;color: #fff;background-color: rgba(61, 141, 50, 0.658); font-size: 20px">
       <a href="/admin/export-data"><i style="color: rgb(2, 253, 2);" class="fa fa-table" aria-hidden="true"></i> <span style="color : white">Export Excell</span></a></button>
   
</div >
<dir class="board" style="height: 690px;">
   <table width="100%">
      <thead>
         <tr>
            <td>ID</td>
            <td>ID Order</td>
            <td>ID User</td>
            <td>Name Customer</td>
            <td>NumberPhone</td>
            <td>Address</td>
            <td></td>
            <td>Email</td>
            <td>ID Product</td>
            <td>Name Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Toltal Price</td>
            <td>Date</td>
            <td colspan="2" style="text-align: center">Tools</td>
         </tr>
      </thead>
      <tbody id="products">
          <script type="text/javascript" src="admin_api_report.js"></script>
      </tbody>
   </table>

</dir>