<link rel="stylesheet" href="/css/form.css">

<style>
    .btnAddProd:hover {
        opacity: 0.7;
    }
</style>


   
<div class="btnBefore" style="padding: 0 32px; ">
    <button class="btnAddProd " style="position: relative;;padding: 12px 16px;color: #fff;background-color: orange; font-size: 20px">Add
        Product In List</button>
   
</div >
<dir class="board" >
   <table width="100%" >
      <thead>
         <tr>
            <td> <span>Image</span> </td>
            <td>ID</td>
            <td>Name</td>
            <td>Category</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Description</td>
            <td>Color</td>
            <td colspan="2" style="text-align: center">Update</td>
         </tr>
      </thead>
      <tbody id="products">
         
      </tbody>
   </table>

</dir>

<div class="modal-form">
    <div class="container" style="height: 600px;">
        <header>
            <h1 style="text-transform: uppercase;">Add Product In List</h1>
            <div class="close-form-update">
                <i class="fas fa-times"></i>
            </div>
        </header>
        <div class="content-body">
            {{!-- Start body --}}
            <div style="padding: 0 32px 30px; border-bottom: 1px solid #ccc;">
                <button class="btnAddProd"
                    style="padding: 12px 16px;color: #fff;background-color: orange; font-size: 20px" id="btnAdd-Prod">Export Product </button>
                     <span style="margin-left: 15px; opacity: 0.5;">(*)Có thể thay đổi số lượng khi chọn</span>
            </div>
            <dir class="board" style="height: 500px; width: 96%; overflow: auto;">
                <table width="100%">
                    <thead>
                        <tr>
                            <td> <span>Image</span> </td>
                            <td>Name</td>
                            <td>Category</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Color</td>
                            <td colspan="2" style="text-align: center">Choose</td>
                        </tr>
                    </thead>
                    <tbody id="productss">
                    </tbody>
                </table>

            </dir>
            {{!-- End body body --}}
        </div>
    </div>
</div>


  <div class="modal-form">
   <div class="container" style="max-width: 480px; width: 100%; height: 580px ; overflow: hidden;">
       <header>  
             <h1>DELETE PRODUCT</h1>
             <div class="close-form-delete">
                <i class="fas fa-times"></i>
            </div>  
       </header>
      
       <div class="content-body">
         {{!-- Start body --}}
          <form  >
             <div class="row-0" style="padding: 10px; display: flex; justify-content: center;">
                 <div class="box-img" style="padding: 15px 30px 0 30px; ">
                <div class="box-img-main"
                    style="width: 200px; height: 180px; position: relative; border: 8px solid rgba(238, 12, 185, 0.84)">
                    <img id="ImgDF" style="margin-left: auto; margin-right: auto; height: 100%; width: 100%; border-radius: 1px;" src="img/df.png">
                    <div style="position: absolute; top: 0; right: 0;">
                        <input  id="uploadED"  style="margin-top: 150px; border: none ; display: none" type="file"
                            onchange="readUrlED(this)" name="filename" accept="image/png, image/jpg, image/jpeg">
                    </div>
                </div>
            </div>
             </div>
             <div class="row-1" style="padding: 15px; text-align: center; ">
                <input style="padding: 10px 14px;border: none; border-bottom: 1px solid rgba(238, 12, 185, 0.84); font-size: 20px; border-radius: 5px;" type="text" class="id_DL" name="id"  placeholder="Nhập vào tên để thay đổi"  readonly = "true" style="opacity: 0.8 ;">
             </div>  
             <div class="row-2" style="padding: 15px; text-align: center; ">
                 <input style="padding: 10px 14px;border: none; border-bottom: 1px solid rgba(238, 12, 185, 0.84); font-size: 20px; border-radius: 5px;" type="text" class="name_DL" name="Name"  placeholder="Nhập vào tên để thay đổi"  readonly = "true" style="opacity: 0.8 ;">
             </div>  
              <div class="row-3" style="padding: 20px; display: flex; justify-content: center;">
                  <input class="btn_delete_pro btn_dl_shipment" style="background-color: rgba(192, 36, 57, 0.84) ; color: aliceblue;" type="submit" value="Delete">
              </div>
                
          </form>
           {{!-- End body body --}}
       </div>
       <footer>
        
       </footer>
   </div>
</div>

    <div class="addCategory">
     <div class="container">
       <header>  
             <h1 style="text-transform: uppercase;">Hãy chọn dữ liệu</h1>
             <div class="close-delete-categr">
                <i class="fas fa-times"></i>
            </div>  
       </header>
       <div class="content-body">
            <form >
                <input class="btnOk" type="submit" value="Ok">   
          </form>
       </div>
   </div>
</div>
     <script src="admin-shipment.js"></script>
