

<dir class="board" style="height: 690px;">
   <table width="100%">
      <thead>
         <tr>
            <td> <span>Image Product</span> </td>
            <td>ID Order</td>
            <td>ID User</td>
            <td>Account Name</td>
            <td>Name Customer </td>
            <td>NumberPhone</td>
            <td>Address</td>
            <td></td>
            <td>Email</td>
            <td>ID Product</td>
            <td>Name Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total Price</td>
            <td colspan="2" style="text-align: center">Tools</td>
         </tr>
      </thead>
      <tbody id="products">
          <script type="text/javascript" src="admin_api_orders.js"></script>
      </tbody>
   </table>

</dir>