

<dir class="board">
  
   <table width="100%">
      <thead>
         <tr>
            <td>ID</td>
            <td>Name Customer</td>
            <td>NumberPhone</td>
            <td>Message</td>
            <td>Time Give</td>
            <td style="text-align: center">Update</td>
         </tr>
      </thead>
      <tbody id="products">
          <script type="text/javascript" src="admin_contact.js"></script>
      </tbody>
   </table>

</dir>