      
   <link rel="stylesheet" href="/css/pro.css">
   <link rel="stylesheet" href="/css/pro-page-1.css">
    <style>
        .btnAdd:hover{
            opacity: 0.8;
        }
    </style>
        <div class="mid-header" style="margin-top: 160px ;">
            <div class="container-search header-mid">
                <div class="row-search">
                    <div class="col-lg-6-search col-md-6-search col-sm-6-search hidden-xs search">
                        <div class="header_search">
                            <div class="input-group-search search-bar">
                                <input type="text" name="search" value="" placeholder="Tìm kiếm"
                                    class="searchIP search-auto input-group-field st-default-search-input search-text"
                                    autocomplete="off">
                                <ul class="dropdown-menu-search"></ul>
                                <span class="input-group-btn-search">
                                    <button class="btn-search icon-fallback-text" type="button">
                                        <span class="fa fa-search"></span>
                                        <span class="hidden-lg hidden-md">Tìm kiếm</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-3-search col-md-4-search col-sm-3-search cart">
                        <div class="hotline hidden-xs hidden-sm">
                            <a href="tel:0798 262 782">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <div class="hotline_box">
                                    Hotline: <br>
                                    <strong>0798 262 782</strong>
                                </div>
                            </a>
                        </div>
                        <div class="top-cart-contain">
                            <div class="top_phone_number mini-cart" id="cart">
                                <a data-toggle="dropdown" data-loading-text="Đang tải"
                                    class="basket dropdown-toggle-search">
                                    <div class="phone-img">
                                        <a href="/product/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="text" id="cart-total">
                                        <p class="phone-box"><strong><span>0 sản phẩm </span></strong></p>
                                        
                                    </div>
                                </a>

                                <div class="top-cart-content arrow_box dropdown-menu-search" style="width:350px">
                                    <ul id="cart-sidebar" class="mini-products-list" style="width:350px">
                                        <li class="item">
                                            <p class="text-center" style="padding: 15px; font-size: 16px;">Giỏ hàng của
                                                bạn trống!</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{!--  --}}
    <div class="container-category" style="margin-top: 45px;"></div>
    <div class="container-category">
        <ul class="breadcrumb" style="margin-top: 15px;">
            <li><a href="/product/home-page"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/product/page-prod-1">All product</a></li>
        </ul>
        <div class="row-category">
            <aside id="column-left" class="col-sm-3 sidebar">
                <span class="">
                    <div class="col-inner">
                        <div id="pav-verticalmenu" class="box pav-verticalmenu highlighted hidden-xs hidden-sm">
                            <div class="box-heading">
                                <span class="fa fa-bars"></span>Danh mục sản phẩm
                            </div>
                            <div class="box-content">
                                <div class="navbar navbar-default">
                                    <div id="verticalmenu" class="verticalmenu" role="navigation">
                                        <div class="navbar-header">
                                            <a href="javascript:;" data-target=".navbar-collapse" data-toggle="collapse"
                                                class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                            </a>
                                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                                <ul class="nav navbar-nav verticalmenu">
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Đồ ngủ</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Đầm - Váy</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Áo nữ</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Áo khoác - Vest</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Thời trang nam</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Phụ kiện nữ</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Phụ kiện nam</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-title">Mỹ phẩm làm đẹp</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </aside>

            <div id="content" class="col-sm-9">
                <div class="pav-filter-blogs wrapper blog-wrapper" style="padding: 20px; height: 1675px;">
                    <h1>Products</h1>
                    <div class="product-filter">
                        <div class="inner clearfix">
                            <div class="filter-right">
                                <div class="sort">
                                    <span style="font-size: 20px;">Sắp xếp theo: </span>
                                    <select class="sortProd" style="color : black; border: 1px solid #fff; border-bottom: 2px solid rgba(204, 20, 127, 0.822); font-size: 20px; padding: 4px 12px;" >
                                        <option
                                            value=""
                                            selected="selected">Mặc định
                                        </option>

                                        <option
                                            value="1">
                                            Tên (A - Z)
                                        </option>

                                        <option
                                            value="2">
                                            Tên (Z - A)
                                        </option>

                                        <option
                                            value="3">
                                            Giá (Thấp &gt; Cao)
                                        </option>

                                        <option
                                            value="4">
                                            Giá (Cao &gt; Thấp)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="products" class="product-grid" style="margin-top: 10px">
                        <div class="products-block">
                            <div class="row-category product-items">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6 product-col">
                                    <div class="product-tile">
                                        <div class="product-image">
                                            <a class="thumb-link" href="/detail/dam-tieu-thu.html" title="Đầm tiểu thư">
                                                <div class="swap-on-hover-front-image">
                                                    <img class="img-responsive lazy" src="/img/dam-tieu-thu.jpg"
                                                        data-src="/img/product/dam-tieu-thu.jpg" id="img-product"
                                                        alt="Đầm tiểu thư">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="product-des">
                                            <div class="product-sale"> </div>
                                            <div class="product-desc">
                                                <a class="thumb-link" href="/detail/dam-tieu-thu.html"
                                                    title="Đầm tiểu thư">Đầm tiểu thư</a>
                                            </div>
                                            <div class="product-pricing" data-price="200000">
                                                <span class="product-discount-price"
                                                    title="Đầm tiểu thư">200,000đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                    <div class="row-category pagination paging clearfix">
                        <div class="">
                            <ul class="pagination">
                                <li ><span class="btnCount1">1</span></li>
                                <li ><a class="btnCount2" href="#">2</a></li>
                                <li><a class="btnCount3" href="#">3</a></li>
                                <li><a class="btnCountnext" href="#">&gt;</a></li>
                            </ul>
                        </div>
                        <!-- <div class="results">Hiển thị 1 đến 6 của 20 (3 trang)</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/pageproduct.js" >  </script>

    <div class=" pav-container box-newsletter newsletter-content-module">
        <div class="pav-inner container-dangky">
            <div class="row-dangky">
                <div class="col-lg-8-dangky col-md-10-dangky col-sm-10-dangky col-xs-12-dangky " style="margin:0 auto;">
                    <div class="col-inner-dangky">
                        <div class="pav-newsletter" id="newsletter_0" style="display: flex; justify-content: center">
                            <form id="formNewLestter" method="post" action="checkout/checkout" class="formNewLestter">
                                <div class="panel-heading-dangky">
                                    <h4>KHUYẾN MÃI 10% VỚI ORDER ĐẦU TIÊN</h4>
                                </div>
                                <div class="description">
                                    <p>Đăng ký thông báo để trở thành người đầu tiên nhận được những tin tức mới
                                        nhất của hãng và cả những chương trình ưu đãi độc quyền hội viên. Đặc biệt
                                        với đơn hàng đầu tiên bạn sẽ nhận được khuyến mại 10% trên sản phẩm bất kỳ.
                                    </p>
                                </div>
                                <div class="newsletter space-top-35 clearfix">
                                    <div class="form-group-dangky">
                                        <label>Email</label>
                                        <div class="input-group-dangky">
                                            <input type="text" class="form-control email" name="email" required="">
                                            <button type="submit" name="submitNewsletter" class="btn signup"
                                                value="Subscribe">
                                                Đăng ký
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#formNewLestter').on('submit', function () {
                                    var email = $('.email').val(); $(".success_inline, .warning_inline, .error").remove();
                                    if (!isValidEmailAddress(email)) { $('.valid').html("<div class=\"error alert alert-danger\">Email không hợp lệ!<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button></div></div>"); $('.email').focus(); return false; } var url = "/tool/newsletter";
                                    $.ajax({
                                        type: "post", url: url, data: $("#formNewLestter").serialize(), dataType: 'json', success: function (json) {
                                            $(".success_inline, .warning_inline, .error").remove(); if (json['error']) { $('.valid').html("<div class=\"warning_inline alert alert-danger\">" + json['error'] + "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button></div>"); }
                                            if (json['success']) { $('.valid').html("<div class=\"success_inline alert alert-success\">" + json['success'] + "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button></div>"); }
                                        }
                                    });
                                    return false;
                                }); /*end submmit*/
                            }); /* end document */ function isValidEmailAddress(emailAddress) {
                                var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i); return pattern.test(emailAddress);
                            } 
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/cart.js"></script>
