<link rel="stylesheet" href="/css/pro.css">


<body>
    <div class="mid-header" style="margin-top: 112px ;">
        <div class="container-search header-mid">
            <div class="row-search">
                <div class="col-lg-6-search col-md-6-search col-sm-6-search hidden-xs search">
                    <div class="header_search">
                        <div class="input-group-search search-bar">
                            <input type="text" name="search" value="" placeholder="Tìm kiếm"
                                class="search-auto input-group-field st-default-search-input search-text"
                                autocomplete="off">
                            <ul class="dropdown-menu-search"></ul>
                            <span class="input-group-btn-search">
                                <button class="btn-search icon-fallback-text" type="button">
                                    <span class="fa fa-search"></span>
                                    <span class="hidden-lg hidden-md">Tìm kiếm</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3-search col-md-4-search col-sm-3-search cart">
                    <div class="hotline hidden-xs hidden-sm">
                        <a href="tel:0798 262 782">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div class="hotline_box">
                                Hotline: <br>
                                <strong>0798 262 782</strong>
                            </div>
                        </a>
                    </div>
                    <div class="top-cart-contain">
                        <div class="top_phone_number mini-cart" id="cart">
                            <a data-toggle="dropdown" data-loading-text="Đang tải"
                                class="basket dropdown-toggle-search">
                                <div class="phone-img">
                                    <a href="/product/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </div>
                                <div class="text" id="cart-total">
                                    <p class="phone-box"><strong><span>0 sản phẩm </span></strong></p>
        
                                </div>
                            </a>

                            <div class="top-cart-content arrow_box dropdown-menu-search" style="width:350px" >
                                <ul id="cart-sidebar" class="mini-products-list" style="width:350px" >
                                    <li class="item">
                                        <p class="text-center" style="padding: 15px; font-size: 16px;">Giỏ hàng của bạn
                                            trống!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="/cart.js"></script>
    {{!-- <div class="container-category" style="margin-top: 160px;"></div> --}}
    <div class="container-category">
        <div class="row-category">
            <aside id="column-left" class="col-sm-3 sidebar">
                <span class="">
                    <div class="col-inner">
                        <div id="pav-verticalmenu" class="box pav-verticalmenu highlighted hidden-xs hidden-sm">
                            <div class="box-heading">
                                <span class="fa fa-bars"></span>Danh mục sản phẩm
                            </div>
                            <div class="box-content">
                                <div class="navbar navbar-default">
                                    <div id="verticalmenu" class="verticalmenu" role="navigation">
                                        <div class="navbar-header">
                                            <a href="javascript:;" data-target=".navbar-collapse" data-toggle="collapse"
                                                class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                            </a>
                                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                                <ul class="nav navbar-nav verticalmenu">
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/do-ngu">
                                                            <span class="menu-title">Đồ ngủ</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/dam-vay">
                                                            <span class="menu-title">Đầm - Váy</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/ao-nu">
                                                            <span class="menu-title">Áo nữ</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/ao-khoac-vest">
                                                            <span class="menu-title">Áo khoác - Vest</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/thoi-trang-nam">
                                                            <span class="menu-title">Thời trang nam</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/phu-kien-nu">
                                                            <span class="menu-title">Phụ kiện nữ</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/phu-kien-nam">
                                                            <span class="menu-title">Phụ kiện nam</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://styleshop.exdomain.net/my-pham-lam-dep">
                                                            <span class="menu-title">Mỹ phẩm làm đẹp</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                {{!-- thứ 2 --}}
                 <div class="col-inner" style="margin-top: 1210px;">
                        <div id="pav-verticalmenu" class="box pav-verticalmenu highlighted hidden-xs hidden-sm">
                            <div class="box-heading">
                                <span class="fa fa-bars"></span>Sản phẩm mới
                            </div>
                            <div class="box-content">
                                <div class="navbar navbar-default">
                                    <div id="verticalmenu" class="verticalmenu" role="navigation">
                                        <div class="navbar-header">
                                            <a href="javascript:;" data-target=".navbar-collapse" data-toggle="collapse"
                                                class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                            </a>
                                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                                <ul class="nav navbar-nav verticalmenu new">
                                                    <li style="display: flex; padding: 16px;">
                                                        <div >
                                                           <img src="/img/aoden2.jpg" alt="" style="width: 80px; height : 100px;">
                                                        </div>
 
                                                        <div style="margin-left: 20px;">
                                                          <div class="NameDM">
                                                              <a style="font-size: 20px;"> Đầm váy nữ</a>
                                                          </div>
                                                              <p style="font-size: 20px;"> 300$</p>        

                                                        </div>
                                                    </li>
                                                    <li style="display: flex; padding: 16px;">
                                                        <div  class="NameDM">
                                                           <img src="/img/aoden2.jpg" alt="" style="width: 80px; height : 100px;">
                                                        </div>
                                                        <div style="margin-left: 20px;">
                                                          <div class="NameDM">
                                                              <a  style="font-size: 20px;">Đầm váy nữ</a>
                                                          </div>
                                                              <p style="font-size: 20px;"> 300$</p>        

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

            </aside>

            <div id="content" class="col-sm-9">
                <script src="/js/jquery.bxslider.min.js"></script>
                <div class="bx-wrapper" style="max-width: 100%;">
                    <div class="bx-viewport" aria-live="polite"
                        style="width: 100%; overflow: hidden; position: relative; height: 600px;">
                        <div class="slider0" style="width: auto; position: relative;">
                            <div aria-hidden="true"
                                style="float: none; list-style: none; position: absolute; width: 701px; z-index: 0; display: none;">
                                <a href="#">
                                    <img src="/img/shop1.jpg" alt="banner" class="img-responsive"
                                        style="width: 100%; height: 100%;">
                                </a>
                            </div>
                            <div aria-hidden="false"
                                style="float: none; list-style: none; position: absolute; width: 701px; z-index: 50;">
                                <a href="#">
                                    <img src="/img/dam-2s-trang.jpg" alt="banner" class="img-responsive"
                                        style="width: 100%;">
                                </a>
                            </div>
                            <div aria-hidden="true"
                                style="float: none; list-style: none; position: absolute; width: 701x; z-index: 0; display: none;">
                                <a href="#">
                                    <img src="/img/shop3.jpg" alt="banner" class="img-responsive" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bx-controls bx-has-controls-direction bx-has-pager">
                        <div class="bx-controls-direction">
                            <a class="bx-prev" href="">Prev</a>
                            <a class="bx-next" href="">Next</a>
                        </div>
                        <!-- <div class="bx-pager bx-default-pager">
                            <div class="bx-pager-item">
                                <a href="" data-slide-index="0" class="bx-pager-link">1</a>
                            </div>
                            <div class="bx-pager-item">
                                <a href="" data-slide-index="1" class="bx-pager-link active">2</a>
                            </div>
                            <div class="bx-pager-item">
                                <a href="" data-slide-index="2" class="bx-pager-link">3</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <script>
                    $('.slider0').bxSlider({
                        /* Tu dong chuyen anh */
                        auto: true,
                        /* Hieu ung chuyen anh: 'horizontal', 'vertical', 'fade' */
                        mode: 'fade',
                        /* Toc do chuyen giua cac anh: (ms) */
                        speed: 400,
                        /* Ho tro hien thi da man hinh */
                        responsive: true,
                        /* Thoi gian hien thi 1 anh (ms) */
                        pause: 5000,
                        /* Cac cham dai dien anh: o o o */
                        pager: true,
                        /* Mui ten next va prev */
                        controls: true,
                        touchEnabled: false
                    }); 
                </script>
                {{!-- Hot New --}}
                <div class="clothes">
                    <h1>TOP TREND CLOTHES NOWADAY</h1>
                    <div class="container">
   
                          
                    </div>
                </div>
                    <script src="/product.js" ></script>
                {{!-- End --}}
                <!-- Khung sản phẩm -->
                <div class="containerr">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">PRODUCTS</h4>
                    </div>
                    <div class="row" style="max-width: 1260px; margin-left: 35px;">
                    </div>
                </div>
            </div>
        </div>
    </div>





    <section id="-0">

    </section>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/common_base.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

    <script src="/js/jquery.lazy.min.js" defer></script>
    <script src="/js/jquery_2.2.4.js?v=1665207892" type="text/javascript"></script>
    <script src="/js/new_custom.js" type="text/javascript"></script>
    <script src="/js/product_option.js"></script>

    <!-- Testimonials -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <script type="text/javascript" src="/js/new_custom.js"></script>
    <script type="text/javascript" src="/js/product_option.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/testimonials.js"></script>

    <script type="text/javascript">
        /* Sau khi tat khung popup cart, cap nhat lai gio hang tren header */
        $('.bs-popupcart-modal-lg').on('hidden.bs.modal', function (e) {
            $.ajax({
                url: '/checkout/cart/getTotalProductInCart',
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                },
                complete: function () {
                },
                success: function (json) {
                    var out = json['total'].substr(0, json['total'].indexOf(' '));
                    $('#cart-total').html(out);
                    $('#cart > ul').load('/common/cart/info ul li');
                }
            });
        });
    </script>

    <script type="text/javascript">
        /* Autocomplete */
        window.addEventListener('DOMContentLoaded', (event) => {
            (function ($) {
                if (typeof $.fn.autocomplete_pro == "undefined") {
                    $.fn.autocomplete_pro = function (option) {
                        return this.each(function () {
                            this.timer = null;
                            this.items = new Array();
                            $.extend(this, option);
                            $(this).attr('autocomplete', 'off');
                            /*Focus*/
                            $(this).on('focus', function () {
                                this.request();
                            });
                            /*Blur*/
                            $(this).on('blur', function () {
                                setTimeout(function (object) {
                                    object.hide();
                                }, 200, this);
                            });
                            /*Keyup*/
                            $(this).on('keyup', function (event) {
                                if ($(this).val().length == 0) {
                                    $(this).siblings('ul.dropdown-menu-search').hide();
                                }

                            });
                            /*Keydown*/
                            $(this).on('keydown', function (event) {
                                switch (event.keyCode) {
                                    case 27:
                                        /*escape*/
                                        $(this).hide();
                                        break;
                                    default:
                                        this.request();
                                        break;
                                }
                            });
                            /*Click*/
                            this.click = function (event) {
                                event.preventDefault();
                                value = $(event.target).parent().attr('data-value');
                                if (value && this.items[value]) {
                                    this.select(this.items[value]);
                                }
                            };
                            /*Show*/
                            this.show = function () {
                                var pos = $(this).position();
                                $(this).siblings('uldropdown-menu-search').css({
                                    top: pos.top + $(this).outerHeight(),
                                    left: pos.left
                                });
                                $(this).siblings('uldropdown-menu-search').show();
                            };
                            /*Hide*/
                            this.hide = function () {
                                $(this).siblings('uldropdown-menu-search').hide();
                            };
                            /*Request*/
                            this.request = function () {
                                clearTimeout(this.timer);
                                this.timer = setTimeout(function (object) {
                                    object.source($(object).val(), $.proxy(object
                                        .response, object));
                                }, 200, this);
                            };
                            /*Response*/
                            this.response = function (json) {
                                html = '';
                                if (json.length) {
                                    html +=
                                        "<span class='view-more-search' onclick=window.location.href='/product/search?search=" +
                                        $(this).val() + "'>Xem tất cả " + json.length +
                                        " sản phẩm</span>";
                                }
                                if (json.length) {
                                    for (i = 0; i < json.length; i++) {
                                        this.items[json[i]['value']] = json[i];
                                    }
                                    for (i = 0; i < json.length; i++) {
                                        if (!json[i]['category']) {
                                            html += `<li data-value="` + json[i]['value'] + `">
                        <a data-target="product" href="` + json[i]['href'] + `">
                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <img src="` + json[i]['image'] + `">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <span data-target="product" href="` + json[i]['href'] + `">` + json[i][
                                                'label'] + `</span>`;
                                            if (json[i]['special']) {
                                                html += `
                                            <span class="special">` + json[i]['special'] + `</span>
                                            <del class="price-old">` + json[i]['price'] + `</del>`;
                                            } else {
                                                html += `
                                            <span class="price">` + json[i]['price'] + `</span>`;
                                            }
                                            html += `                                                        
                                        </div>
                                    </div>
                                </a>
                            </li>`;
                                        }
                                    }
                                    /*Get all the ones with a categories*/
                                    var category = new Array();
                                    for (i = 0; i < json.length; i++) {
                                        if (json[i]['category']) {
                                            if (!category[json[i]['category']]) {
                                                category[json[i]['category']] = new Array();
                                                category[json[i]['category']]['name'] = json[i][
                                                    'category'
                                                ];
                                                category[json[i]['category']]['item'] =
                                                    new Array();
                                            }
                                            category[json[i]['category']]['item'].push(json[i]);
                                        }
                                    }
                                    for (i in category) {
                                        html += '<li class="dropdown-header">' + category[i][
                                            'name'
                                        ] + '</li>';
                                        for (j = 0; j < category[i]['item'].length; j++) {
                                            html += '<li data-value="' + category[i]['item'][j][
                                                'value'
                                            ] +
                                                '"><img src="' + category[i]['item'][j][
                                                'image'] +
                                                '"><a href="#">&nbsp;&nbsp;&nbsp;' + category[i]
                                                ['item'][j][
                                                'label'
                                                ] + '</a></li>';
                                        }
                                    }
                                }

                                if (html) {
                                    this.show();
                                } else {
                                    this.hide();
                                }
                                $(this).siblings('ul.dropdown-menu').html(html);
                                $('a[data-target="product"]').on('click', function () {
                                    location.href = $(this).attr('href');
                                });
                            };
                            $(this).after('<ul class="dropdown-menu-search"></ul>');
                            $(this).siblings('dropdown-menu-search').delegate('a', 'click', $.proxy(this
                                .click, this));
                        });
                    }
                }

                $(`input[name="search"]`)
                    .autocomplete_pro({
                        'source': function (request, response) {
                            if (request.length > 0) {
                                $.ajax({
                                    url: 'product/search/autocomplete?filter_name=' +
                                        encodeURIComponent(request),
                                    dataType: 'json',
                                    success: function (json) {
                                        response($.map(json, function (item) {
                                            return {
                                                label: item['name'],
                                                value: item['product_id'],
                                                image: item['image'],
                                                model: item['model'],
                                                href: item['href'],
                                                price: item['price'],
                                                special: item['special']
                                            }
                                        }));
                                    }
                                });
                                setTimeout(function () {
                                    $('a[data-target="product"]').on('click', function () {
                                        location.href = $(this).attr('href');
                                    })
                                }, 100);
                            }
                        },
                        'select': function (item) {
                            $(`input[name="search"]`)
                                .val(item['label']);
                        }
                    })
            })(window.jQuery);
        });
    </script>

   
</body>

</html>